<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

    <style>
        div.main-content {
            margin: 0 20%;
        }

        div.two-btns {
            display: flex;
            flex-direction: row;
            padding: 5px;
        }

        div.two-btns > div {
            flex: 1 1 auto;
            text-align: center;

            margin: 5px; /* and that, will result in a 10px gap */
        }
    </style>

</head>
<body>
<div th:insert="fragments/headers :: header"></div>

<div class="main-content">
    <!--/*@thymesVar id="user" type="com.timkin.models.entity.User"*/-->
    <form action="/users/add" method="post" th:object="${user}">
        <fieldset>
            <legend><h2>Create user</h2></legend>
        </fieldset>

        <div class="col-12">
            <label for="login" class="form-label">Login</label>
            <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input th:field="*{login}" type="text" class="form-control" id="login" placeholder="Login"
                       required minlength="3" maxlength="25">
                <div class="invalid-feedback">Login is required.</div>
            </div>
        </div>

        <div class="col-12">
            <label for="password" class="form-label">Password</label>
            <div class="input-group has-validation">
                <input th:field="*{password}" type="password" class="form-control" id="password"
                       placeholder="Password from 8 to 16 symbols"
                       required pattern=".{8,16}">
                <div class="invalid-feedback">Password is required.</div>
            </div>
        </div>

        <div class="col-12">
            <label for="age" class="form-label">Age</label>
            <div class="input-group has-validation">
                <input th:field="*{age}" type="number" class="form-control" id="age" placeholder="Age"
                       required min="14" max="100">
                <div class="invalid-feedback">Age is required.</div>
            </div>
        </div>

        <hr class="my-4">
        <div class="two-btns">
            <div>
                <button class="btn btn-success" type="submit">Add user</button>
            </div>
            <div>
                <a role="button" class="btn btn-danger" href="/users/all">Cancel</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>