<div th:fragment="header" xmlns:sec="http://www.springframework.org/security/tags">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <div>MotoCool</div>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/home" class="nav-link px-2 text-secondary">Home</a></li>
                    <li sec:authorize="hasAnyAuthority('UnverifiedUser', 'Seller')"><a href="/shop" class="nav-link px-2 text-white">Shop</a></li>
                    <li sec:authorize="hasAnyAuthority('Administrator')"><a href="/users" class="nav-link px-2 text-white">Users</a></li>
                    <li sec:authorize="hasAnyAuthority('Technic')"><a href="/motorcycles" class="nav-link px-2 text-white">Motorcycles</a></li>
                    <li sec:authorize="hasAnyAuthority('Technic')"><a href="/engines" class="nav-link px-2 text-white">Engines</a></li>
                </ul>

                <div>
                    <a th:href="@{/users/{login}/details(login=${#authentication.name})}"
                       class="btn btn-outline-light">My details</a>
                    <a href="/logout" class="btn btn-dark">Logout</a>
                </div>
            </div>
        </div>
    </header>
</div>