<div th:fragment="header">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/home" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="/shop" class="nav-link px-2 text-white">Shop</a></li>
                    <li><a href="/users" class="nav-link px-2 text-white">Users</a></li>
                    <li><a href="/roles" class="nav-link px-2 text-white">Roles</a></li>
                    <li><a href="/motorcycles" class="nav-link px-2 text-white">Motorcycles</a></li>
                    <li><a href="/engines" class="nav-link px-2 text-white">Engines</a></li>
                </ul>

                <a href="/logout" class="btn btn-dark">Logout</a>
            </div>
        </div>
    </header>
</div>