<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reschedule contract</title>

    <link rel="stylesheet" type="text/css" href="/css/flexed-row.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

    <style>
        div.main-content {
            margin: 0 20%;
        }

        .invalid-feedback {
            display: block;
        }

        legend h2 {
            text-align: center;
        }
    </style>

</head>
<body>
<div th:insert="fragments/headers :: header"></div>

<div class="main-content">
    <form method="post" th:object="${contract}">
        <fieldset>
            <legend><h2>Reschedule supply</h2></legend>
        </fieldset>

        <input type="hidden" th:field="*{id}"/>

        <div class="d-grid gap-3">
            <div class="form-floating">
                <input type="date" required class="form-control" id="supply" placeholder="Supply date"
                       th:field="*{supplyDate}">
                <label for="supply" class="form-label">Supply date</label>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('supplyDate')}"
                     th:errors="*{supplyDate}"></div>
            </div>

            <div class="flexed-row">
                <button class="btn btn-success" type="submit">Reschedule</button>
                <a class="btn btn-danger" href="/contracts/all">Cancel</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>