<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="login">Login</label>
            <input type="text" name="username" id="login" placeholder="Login"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" name="password" id="password" placeholder="Password"/>
        </div>
        <div><input type="submit" value="Login"/></div>
    </form>
<!--    <a href="/logout">Logout</a>-->
</div>
</body>
</html>