<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
</head>
<body>
<fieldset>
    <legend>Калькулятор</legend>
    <form action="/calc" method="post" autocomplete="on">
        <label for="first">Введите первое число</label><br>
        <input id="first" type="text"><br>

        <label for="second">Введите второе число</label><br>
        <input id="second" type="text"><br>

        <label for="operation">Выберите операцию</label><br>
        <input id="operation" type="radio"><br>

        <input type="submit" value="Выполнить">
    </form>
</fieldset>
</body>
</html>