<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
</head>
<body>
<fieldset>
    <legend>Калькулятор</legend>
    <form action="/calculate" method="post" autocomplete="on">
        <label for="first">Введите первое число</label><br>
        <input id="first" type="text" name="a" required><br>

        <label for="second">Введите второе число</label><br>
        <input id="second" type="text" name="b" required><br>

        <label for="op">Выберите операцию</label><br>
        <fieldset id="op">
            <input id="sum" type="radio" name="op" value="SUM" checked>
            <label for="sum">+</label><br>

            <input id="subtract" type="radio" name="op" value="SUBTRACT">
            <label for="subtract">-</label><br>

            <input id="multiply" type="radio" name="op" value="MULTIPLY">
            <label for="multiply">*</label><br>

            <input id="divide" type="radio" name="op" value="DIVIDE">
            <label for="divide">/</label><br>
        </fieldset>

        <br>
        <input type="submit" value="Выполнить (get)" formmethod="get">
        <input type="submit" value="Выполнить (post)" formmethod="post">
    </form>
</fieldset>
</body>
</html>